body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
}

.headline {
    color: palevioletred;
    text-align: center;
}

.recipe {
    color: lightseagreen;
}

#bolognese, 
#guacamole {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2 {
    text-align: center;
}